# Node
node_modules/

# Build
dist/
build/

# Env
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/

# Prisma
src/prisma/client/

# Python
__pycache__/
*.pyc
venv/
.env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db